@media screen and (min-width: 900px) {
    .div-comprar {
        width:10% !important
    }
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.ep {
    margin-top: 2px
}

.ep p {
    font-size: 14px;
    text-align: justify
}

.ep-title-2 {
    background-color: #fbece8 !important;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #dbc493;
    margin-bottom: 2px;
    text-transform: uppercase
}

.ep-title {
    background-color: #fbece8 !important;
    padding: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #dbc493;
    font-weight: bold;
    margin-bottom: 20px
}

.subemblem-title {
    padding: 20px;
    font-size: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #dbc493;
    font-weight: bold
}

.ep-hr {
    margin: 0;
    border-top: 1px solid #dbc493;
    height: 0 !important;
    width: 100%
}

.ep-card {
    width: 100% !important;
    border-color: #dbc493 !important;
    border-width: 67%;
    border: none !important
}

.ep-card #collapse05 div p b a {
    text-decoration: underline;
    color: #333
}

.ep-card #collapse05 div p b a:hover {
    text-decoration: underline !important
}

.ep-cardheader {
    border: none !important;
    padding-bottom: 5px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    text-align: left;
    width: 70%
}

.ep-cardheader:hover {
    cursor: pointer
}

.ep-cardheader:hover .ep-cardbutton {
    color: #dbc493 !important
}

.ep-h2 {
    margin-bottom: 0;
    position: relative;
    width: 100%;
    font-size: 17px !important;
    color: #dbc493;
    cursor: auto
}

.ep-cardbutton {
    text-align: left !important;
    background: none;
    color: #333333 !important;
    font-weight: bold !important;
    font-size: 16px !important;
    background-color: transparent;
    padding-left: 0px !important;
    text-decoration: none !important
}

.ep-cardarrow {
    display: none
}

.ep-cardbody {
    padding: 10px 0 !important;
    text-align: justify
}

.ep-cardbody p a {
    color: #333;
    font-weight: bold
}

.ep-li {
    color: #dbc493 !important;
    padding: 0px
}

.ep-li span {
    color: #333333;
    margin-left: 2px !important
}

.ep-paragraph {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    text-decoration: none;
    line-height: inherit;
    box-sizing: border-box;
    text-align: justify
}

.ep-paragraph img {
    float: left
}

.ep-link-2 {
    color: #333 !important;
    font-weight: bold
}

.ep-link-2:hover,.ep-link-2:focus {
    text-decoration: none;
    color: #333 !important;
    font-weight: bold;
    opacity: 0.8
}

.ep-brilhante .ep-link-2 {
    color: #dbc493 !important;
    transition: 0.3s;
    font-weight: normal
}

.ep-brilhante .ep-link-2:hover,.ep-brilhante .ep-link-2:focus {
    text-decoration: none;
    color: #dbc493 !important;
    opacity: 0.8;
    font-weight: normal
}

.ep-link {
    color: #dbc493 !important
}

.ep-link:hover,.ep-link:focus {
    text-decoration: none;
    color: #dbc493;
    opacity: 0.8
}

.ep-pinkblock {
    text-align: justify;
    background-color: #fbece8;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    flex-direction: column
}

.ep-p {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    text-align: justify
}

.ep-justifycenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.ep-imgcuidados {
    height: 63px;
    width: 63px;
    padding: 0 0 20px 0
}

.ep-circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    color: white;
    background: #dbc493;
    text-align: center !important;
    font-size: 26px;
    font-weight: bold;
    margin-right: 20px
}

.ep-circletext {
    font-weight: bold;
    font-size: 16px
}

.ep-containercircle {
    display: flex !important;
    align-items: center;
    margin: 20px 0
}

.ep-customline {
    content: "";
    background-color: #dbc493 !important;
    display: inline-block;
    height: 1px !important;
    position: relative;
    vertical-align: middle;
    width: 30% !important
}

.ep-padding-bottom {
    padding-bottom: 30px !important
}

.ep-decoratedtext {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px
}

.ep-boxdecoratedtext {
    display: flex;
    padding: 0 10px 0 10px !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 22px !important
}

.ep-borderbox {
    border: 1px solid rgba(0,0,0,0.1)
}

.ep-boxtext {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 15px
}

.ep-boximgs {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}

.ep-boximgleft {
    border-right: 1px solid rgba(0,0,0,0.1);
    width: 50%;
    padding: 20px
}

.ep-boximgright {
    width: 50%;
    padding: 20px
}

.ep-boxlink {
    color: #333333 !important
}

.ep-mobile {
    display: none !important
}

.ep-desk {
    display: initial
}

.ep-textaligncenter {
    text-align: center !important
}

.ep-pinkborder {
    padding: 25px;
    width: 250px;
    display: flex;
    justify-content: center;
    border: 1px solid #dbc493;
    border-radius: 10px;
    margin: 10px 0 20px
}

.ep-imgcupons {
    margin-bottom: 10px;
    display: flex
}

.ep-cupomcode {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 2px dashed #dbc493;
    color: #dbc493;
    font-weight: 700;
    font-size: 16px
}

.ep-fakediv {
    display: flex;
    justify-content: center
}

.ep-fakeinput {
    color: #b7b7b7;
    padding: 5px;
    width: 75%;
    border: rgba(0,0,0,0.1);
    box-shadow: inset 0 3px 3px 0 rgba(0,0,0,0.1)
}

.ep-fakebutton {
    padding: 5px 10px;
    background-color: #dbc493;
    color: #fff
}

.ep-fullwidth {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available
}

.ep-tablerow {
    font-size: 11px;
    display: flex;
    justify-content: space-between
}

.ep-item {
    margin-bottom: 70px
}

.ep-conteudocupom {
    display: flex;
    justify-content: space-between
}

.ep-hrcupom {
    margin: 0;
    border-top: 1px solid #dbc493;
    height: 0 !important;
    width: 70%
}

.ep-textcupom {
    margin-top: 10px
}

.ep-cupom {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.ep-btncupom {
    display: inline-block;
    box-sizing: border-box;
    width: 230px;
    background-color: #dbc493;
    color: #fff !important;
    text-align: center;
    padding: 10px 0;
    margin-top: 5px;
    text-decoration: none;
    font-weight: 600
}

.ep-spandesconto {
    border-radius: 25px;
    border: 1px solid #dbc493;
    padding: 2px 7px;
    margin-left: -7px
}

.ep-duvidascomuns {
    justify-content: center;
    padding: 30px 0
}

.qs-content {
    display: flex;
    flex-direction: column;
    align-items: center
}

.qs-content .main-wrapper {
    position: relative;
    width: 95%;
    display: flex
}

@media (min-width: 1040px) {
    .qs-content .main-wrapper {
        width:80%
    }
}

.qs-content .main-wrapper .main-img {
    width: 343px;
    height: 343px;
    max-width: none
}

.qs-content .main-wrapper .border {
    width: 343px;
    height: 343px;
    background-color: transparent;
    border: 1px solid #dbc493;
    position: absolute;
    top: 11px;
    left: 11px
}

.qs-content .main-wrapper .main-text {
    margin-left: 55px;
    display: flex;
    align-items: center
}

.qs-content .main-wrapper .main-text .title {
    color: #dbc493;
    font-size: 16px
}

.qs-content .main-wrapper .main-text .content {
    margin-bottom: 25px
}

.qs-content .main-wrapper .main-text .content p {
    line-height: normal;
    text-align: justify
}

.qs-content .qs-info {
    background-color: #fbece8;
    padding: 65px 0 35px;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    margin-top: -18px;
    display: flex;
    justify-content: center
}

.qs-content .qs-info .content {
    width: 80%;
    display: flex
}

.qs-content .qs-info .content>div {
    width: 33%;
    margin-right: 30px
}

.qs-content .qs-info .content>div .title {
    font-size: 16px;
    color: #e8927c;
    margin: 0 0 8px 0
}

.qs-content .qs-info .content>div .text {
    line-height: normal
}

.qs-content .h-info {
    background-color: #fbece8;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    margin-top: -18px;
    display: flex;
    justify-content: center
}

.qs-content .h-info .content {
    display: flex
}

.qs-content .h-text {
    width: 95%;
    padding-top: 25px
}

@media (min-width: 1040px) {
    .qs-content .h-text {
        width:80%
    }
}

.qs-content .mini-images {
    display: flex;
    margin: 25px 0;
    justify-content: space-between;
    width: 100%
}

.qs-content .mini-images img {
    width: 19%
}

div[data-content-type='row'][data-appearance='contained'] {
    max-width: 100%
}

.cms-o-que-gravar-nas-aliancas .page-title-container {
    height: 100px;
    padding: 0
}

.cms-o-que-gravar-nas-aliancas .page-title-container .page-title {
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px
}

.ep-box {
    padding: 0 30px
}

.oqg-subtitle {
    font-size: 16px !important;
    font-weight: bold;
    color: #e8927c;
    text-align: center !important;
    margin: 24px 0 0
}

.oqg-boxes {
    display: flex;
    justify-content: space-between;
    margin: 30px 0
}

.oqg-boxes .oqg-bigbox {
    width: 66%;
    margin-right: 5px;
    box-shadow: 0px 3px 4px rgba(232,146,124,0.2)
}

.oqg-boxes .oqg-smallbox {
    width: 34%;
    box-shadow: 0px 3px 4px rgba(232,146,124,0.2);
    display: flex;
    flex-direction: column
}

.oqg-boxes .oqg-title {
    height: 40px;
    background-color: #fbece8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 0
}

.oqg-boxes .oqg-content-img {
    display: flex;
    justify-content: center;
    align-items: center
}

.oqg-boxes .oqg-content {
    padding: 30px;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto
}

.oqg-boxes .oqg-content .oqg-part1 {
    padding: 0 5%;
    color: #e8927c;
    font-weight: bold;
    text-align: justify;
    width: 50%
}

.oqg-boxes .oqg-content .oqg-line {
    height: 100px;
    width: 1px;
    background-color: #e8927c;
    margin: 3px 0
}

.oqg-boxes .oqg-content .oqg-part2 {
    padding: 0 5%;
    width: 50%
}

.oqg-boxes .oqg-videobox {
    display: flex;
    width: 45%;
    min-width: 500px
}

.oqg-boxes .oqg-videobox video {
    object-fit: cover;
    min-width: 206px;
    margin: -10px -10px 0 0
}

.oqg-boxes .oqg-videobox .oqg-contentbox {
    box-shadow: 0px 3px 4px rgba(232,146,124,0.2);
    display: flex;
    flex-direction: column
}

.oqg-boxes .oqg-videobox .oqg-contentbox .oqg-content {
    display: block
}

.duvidas-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px
}

.duvidas-block .duvidas-item {
    width: 16.3%;
    display: flex;
    flex-direction: column
}

.duvidas-block .duvidas-item img {
    height: auto;
    min-height: auto;
    width: 100%;
    background-color: #f8f7f6;
    margin-bottom: 3px
}

.duvidas-block .duvidas-item .caption {
    background-color: #fbece8;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e8927c;
    font-weight: bold;
    height: 100%;
    line-height: normal
}

.duvidas-block .duvidas-item:hover .caption,.duvidas-block .duvidas-item:focus .caption,.duvidas-block .duvidas-item:active .caption {
    color: #e06e51 !important
}

.slick-historia-title {
    font-size: 16px;
    color: #e8927c;
    padding: 20px 20px 0;
    text-align: center;
    margin-bottom: 0
}

#slick-historia {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 15px
}

#slick-historia img {
    padding: 8px;
    max-width: none
}

.cm-metodos-title {
    text-align: center !important;
    margin: 0
}

.cm-metodos {
    display: flex;
    justify-content: center;
    margin: 20px 0
}

.cm-metodos a {
    color: #e8927c;
    border: .5px solid #e8927c;
    border-radius: 20px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    margin: 5px
}

.cm-metodos a:hover {
    cursor: pointer
}

.cm-step {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    width: fill-available !important
}

.cm-step .step-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    padding: 5px;
    background-color: #e8927c;
    margin: 20px 0;
    font-size: 14px;
    font-weight: bold
}

.cm-step .content .title {
    text-align: center;
    color: #e8927c
}

.cm-step .content .cm-medidor {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px
}

.cm-step .content .cm-medidor .title {
    text-align: center;
    color: #e8927c
}

.cm-step .content .cm-medidor img {
    width: 35%;
    margin: 10px 0 20px
}

.cm-step .content .cm-comomedir {
    margin-top: 15px;
    background: linear-gradient(#fff 60px, #fbece8 0%);
    display: flex
}

.cm-step .content .cm-comomedir p {
    font-size: 14px !important
}

.cm-step .content .cm-comomedir .image {
    width: 40%;
    display: flex;
    align-items: flex-end
}

.cm-step .content .cm-comomedir .image img {
    width: 80%
}

.cm-step .content .cm-comomedir .steps {
    margin-top: 60px;
    background-color: #fff;
    padding: 20px 30px;
    width: 35%
}

.cm-step .content .cm-comomedir .steps .title {
    color: #e8927c
}

.cm-step .content .cm-aneleira {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px
}

.cm-step .content .cm-impressao {
    display: flex;
    flex-flow: column;
    margin-top: 10px
}

.cm-step .content .cm-barbante {
    margin-top: 10px
}

.cm-step .content .cm-images {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px
}

.cm-step .content .cm-images .img-aneleira {
    max-height: 135px
}

.cm-step .content .cm-images .img-aneleira:first-of-type {
    transform: rotate(67deg)
}

.cm-step .content .cm-images .img-diametro {
    width: 310px;
    margin-top: 20px
}

.cm-step .content .cm-images .img-barbante {
    max-width: 100%
}

.cm-step .content .cm-images .img-barbante-mob {
    display: none
}

.cm-step .content .cm-importante {
    padding: 30px 0 10px
}

.cm-step .content .cm-importante .important {
    text-align: center !important;
    color: #e8927c;
    font-weight: bold;
    margin-bottom: 0
}

.table-diametro,.table-barbante {
    display: flex;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    justify-content: center;
    padding: 15px;
    background-color: #FBECE8;
    column-gap: 30px
}

.table-diametro .middle-column,.table-barbante .middle-column {
    margin: 0 -2px
}

.table-diametro div,.table-barbante div {
    width: 33.33%
}

.table-diametro div table,.table-barbante div table {
    border-spacing: 2px;
    border-collapse: separate;
    background-color: #FBECE8
}

.table-diametro div .table-title td,.table-barbante div .table-title td {
    color: #e8927c;
    padding: 15px;
    line-height: normal;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff
}

.table-diametro div td,.table-barbante div td {
    text-align: center;
    border: 2px solid #f8f7f6;
    padding: 7px;
    width: 50%;
    vertical-align: middle;
    background-color: #fff
}

.cm-special {
    margin-top: 1em;
    color: #e8927c;
    text-align: center !important;
    font-weight: 500;
    margin-bottom: 0
}

.af-banner {
    background-color: #fbece8;
    display: flex;
    padding: 0 50px 0 13%;
    margin: 0 10px 30px;
    align-items: flex-end;
    justify-content: space-between
}

.af-banner .text {
    margin-bottom: 30px
}

.af-banner .text p {
    font-size: 28px;
    line-height: normal
}

.af-banner .text p:first-of-type {
    color: #e8927c
}

.af-banner .text p:last-of-type {
    font-weight: bold
}

.af-block-reasons {
    margin: 0 13% 30px;
    padding: 60px 70px;
    background: linear-gradient(180deg, #fbece8 0%, rgba(251,236,232,0) 100%);
    line-height: normal;
    text-align: justify
}

.af-block-reasons .title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #e8927c;
    margin-bottom: 30px;
    padding: 0 20px
}

.af-block-reasons .bottom {
    font-size: 18px;
    text-align: center;
    color: #e8927c;
    padding: 0 20px;
    margin: 30px 0 0
}

.af-block-reasons ul {
    padding-inline-start:20px;font-size: 13px
}

.af-block-reasons ul li::marker {
    font-size: 8px;
    text-align: justify
}

.af-block-programs {
    margin: 0 7% 15px
}

.af-block-programs .title {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px
}

.af-block-programs .cards {
    display: flex;
    justify-content: space-around
}

.af-block-programs .cards .card {
    background: linear-gradient(180deg, rgba(232,146,124,0.2) 0%, rgba(232,146,124,0.05) 60.42%),#fff;
    border: 2px solid #fff;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(232,146,124,0.1);
    border-radius: 10px;
    padding: 25px 20px;
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.af-block-programs .cards .card .title {
    font-weight: bold;
    font-size: 16px;
    text-align: center
}

.af-block-programs .cards .card .subtitle {
    text-align: center;
    color: #e8927c
}

.af-block-programs .cards .card ul {
    padding-inline-start:20px;font-size: 13px;
    text-align: justify
}

.af-block-programs .cards .card ul li::marker {
    font-size: 8px;
    text-align: justify
}

.af-block-programs .cards .card .btn {
    margin-top: auto;
    margin-bottom: 0;
    width: 170px;
    background: #e8927c;
    border-radius: 3px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff !important
}

.af-text-block {
    margin: 0 13%
}

@media (max-width: 768px) {
    .af-banner {
        padding:0 3px 0 25px;
        margin: 0 0 30px
    }

    .af-banner .text {
        margin-bottom: 0px
    }

    .af-banner .text p {
        font-size: 14px;
        text-align: start
    }

    .af-banner img {
        width: 60%
    }

    .af-ancoras {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0 15%
    }

    .af-ancoras a {
        padding: 10px 15px;
        color: #e8927c !important;
        font-weight: bold;
        border: 1px solid #e8927c;
        text-align: center;
        border-radius: 10px;
        margin: 7px 0
    }

    .af-ancoras a:last-of-type {
        margin-bottom: 0
    }

    .af-block-reasons {
        margin: 0 0 30px;
        padding: 40px 50px
    }

    .af-block-reasons .title {
        margin-bottom: 15px
    }

    .af-block-reasons .bottom {
        margin-top: 15px
    }

    .af-block-programs .cards {
        flex-direction: column
    }

    .af-block-programs .cards .card {
        width: auto;
        margin-bottom: 30px
    }

    .cm-special {
        white-space: pre-line
    }

    .table-diametro,.table-barbante {
        flex-flow: column;
        margin: 0 -20px
    }

    .table-diametro .middle-column,.table-barbante .middle-column,.table-diametro .last-column,.table-barbante .last-column {
        margin: -2px 0 0
    }

    .table-diametro div,.table-barbante div {
        width: -webkit-fill-available;
        width: -moz-available;
        width: fill-available
    }

    .cm-step .content {
        padding: 0 20px
    }

    .cm-step .content .cm-medidor .ep-box {
        padding: 0
    }

    .cm-step .content .cm-medidor img {
        width: 81%;
        padding: 10px
    }

    .cm-step .content .cm-comomedir {
        background: #fff;
        flex-flow: column
    }

    .cm-step .content .cm-comomedir .image {
        background: linear-gradient(#fff 60px, #fbece8 0%);
        width: -webkit-fill-available;
        width: -moz-available;
        width: fill-available;
        margin: 0 -20px
    }

    .cm-step .content .cm-comomedir .image img {
        width: 75%
    }

    .cm-step .content .cm-comomedir .steps {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0;
        width: -webkit-fill-available;
        width: -moz-available;
        width: fill-available
    }

    .cm-step .content .cm-images {
        flex-flow: column;
        align-items: center
    }

    .cm-step .content .cm-images .img-diametro {
        max-height: auto !important;
        width: 100%
    }

    .cm-step .content .cm-images .img-barbante {
        display: none !important
    }

    .cm-step .content .cm-images .img-barbante-mob {
        display: block !important
    }

    .cm-metodos {
        flex-flow: wrap
    }

    .ep-brilhante .ep-brilhante-sub {
        justify-content: space-between !important;
        flex-wrap: wrap
    }

    .ep-brilhante .ep-brilhante-sub>div {
        width: 48%
    }

    .ep-brilhante .ep-brilhante-sub-2 {
        padding: 0px 20px
    }

    .ep-brilhante .ep-brilhante-sub-2 img {
        height: 180px
    }

    .ep-diamante .ep-diamante-sub {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }

    #slick-historia .slick-list {
        padding: 0 40% 0 0
    }

    .slick-historia-title {
        padding: 20px 35px 0
    }

    .duvidas-block {
        overflow-x: auto;
        padding-left: 15px;
        -ms-overflow-style: none;
        scrollbar-width: none
    }

    .duvidas-block::-webkit-scrollbar {
        display: none
    }

    .duvidas-block .duvidas-item {
        min-width: 60%;
        margin-left: 5px
    }

    .duvidas-block .duvidas-item img {
        height: auto;
        min-height: auto;
        width: 100%;
        margin-bottom: 3px
    }

    .ep-medidor {
        position: relative
    }

    .ep-medidor .ep-o-medidor {
        text-align: center;
        height: 150px;
        padding-top: 15px;
        color: #E8927C;
        font-size: 14px
    }

    .ep-medidor .ep-img-medidor {
        width: 350px;
        height: 350px;
        position: absolute;
        top: 30px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0
    }

    .ep-medidor .ep-text-medidor {
        padding-top: 20px;
        padding: 220px 20px 20px 20px;
        padding-right: 20px;
        background-color: #FBECE8
    }

    .ep-medidor .ep-text-medidor p b a {
        text-decoration: underline
    }

    .ep-medidor .ep-text-medidor p b a:hover {
        text-decoration: underline !important
    }

    .ep-howtobuy {
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding: 40px 10px 0px !important;
        margin-right: 20px !important
    }

    .ep-howtobuy .ep-howtobuy-card {
        min-width: 250px
    }

    .ep-howtobuy::-webkit-scrollbar {
        display: none
    }

    .ep-pinkcard-contact {
        display: flex;
        flex-direction: column;
        margin: 0px 20px
    }

    .ep-pinkcard-contact>div {
        height: 150px
    }

    .ep-menu {
        display: none !important
    }

    .ep-box {
        padding: 0 15px
    }

    .ep-pinkblock .ep-p {
        display: flex !important;
        gap: 8px;
        flex-direction: column;
        align-items: flex-start
    }

    .ep-pinkblock-mob {
        padding: 20px;
        background-color: #FBECE8
    }

    .ep-card-margin {
        padding: 5px 20px !important;
        width: auto !important
    }

    .ep-width-content {
        width: 100%
    }

    .ep-cuidados {
        min-width: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-right: 2px solid #f8f7f6;
        text-align: justify;
        padding: 20px;
        border-top: 2px solid #f8f7f6
    }

    .ep-cardheader {
        width: 100%
    }

    .ep-cuidadoswrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll
    }

    .ep-conteudocupom {
        flex-direction: column;
        margin-top: 10px
    }

    .ep-desk::-webkit-scrollbar {
        display: none
    }

    .ep-desk {
        overflow-x: auto;
        width: 100vw;
        display: block;
        scrollbar-width: none;
        -ms-overflow-style: none
    }

    .ep-desk img {
        width: 366%;
        max-width: initial
    }

    .qs-content {
        display: block
    }

    .qs-content .main-wrapper {
        margin: 0 15px;
        width: auto;
        display: block
    }

    .qs-content .main-wrapper .image {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        position: relative
    }

    .qs-content .main-wrapper .image .main-img {
        width: 262px;
        height: 262px
    }

    .qs-content .main-wrapper .image .border {
        width: 262px;
        height: 262px;
        background-color: transparent;
        border: 1px solid #e8927c;
        position: absolute;
        top: 11px;
        left: 11px
    }

    .qs-content .main-wrapper .main-text {
        margin-top: 30px;
        margin-left: 0
    }

    .qs-content .main-wrapper .main-text .content {
        margin-bottom: 0px
    }

    .qs-content .main-wrapper .main-text .title {
        text-align: center
    }

    .qs-content .main-wrapper .main-text p:last-of-type {
        margin-bottom: 0
    }

    .qs-content .qs-info {
        padding: 45px 35px;
        margin-top: 25px;
        display: block
    }

    .qs-content .qs-info .content {
        width: auto;
        display: block
    }

    .qs-content .qs-info .content>div {
        margin-bottom: 40px;
        width: auto
    }

    .qs-content .qs-info .content>div:last-of-type {
        margin-bottom: 0
    }

    .qs-content .h-info {
        margin-top: 25px
    }

    .qs-content .h-info .content {
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none
    }

    .qs-content .h-info .content::-webkit-scrollbar {
        display: none
    }

    .qs-content .h-info .content img {
        overflow-x: auto;
        width: auto;
        height: 300px;
        min-width: 1131.78px;
        max-width: 1131.78px
    }

    .qs-content .h-text {
        width: auto;
        margin: 0 15px
    }

    .qs-content .mini-images {
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none
    }

    .qs-content .mini-images::-webkit-scrollbar {
        display: none
    }

    .qs-content .mini-images img {
        min-width: 63%;
        margin: 0 8px
    }

    .qs-content .ep-cardheader {
        width: 100%
    }

    .qs-content .ep-cardarrow {
        position: absolute;
        right: 0;
        top: 0;
        padding-bottom: 0px !important;
        background: none;
        display: block
    }

    .qs-content .ep-p-2 {
        display: block;
        margin-bottom: 0;
        text-align: justify
    }

    .qs-content .ep-cuidados {
        text-align: justify;
        padding: 15px 25px;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .qs-content .ep-cuidadoswrapper {
        align-items: center !important;
        padding: 20px 10px 20px 0 !important
    }

    .qs-content .ep-devolucaocard:first-of-type {
        margin-bottom: 15px
    }

    .qs-content .ep-containercircle {
        text-align: center;
        flex-direction: column
    }

    .qs-content .ep-desk {
        display: none
    }

    .qs-content .ep-mobile {
        display: initial !important
    }

    .qs-content .ep-conteudocupom {
        flex-direction: column;
        margin-top: 10px
    }

    .qs-content .ep-hrcupom {
        width: 100%
    }

    .qs-content .ep-duvidascomuns {
        justify-content: center;
        padding: 30px 0;
        align-items: center;
        flex-direction: column
    }

    .ep-margintop-mob {
        margin-top: 15px
    }

    .ep-pink-part {
        padding: 20px
    }

    .disappear-mob {
        display: none
    }

    .ep-paymenttypes {
        min-width: 100%;
        margin: 10px 0
    }

    .ep-paymenttypes .text {
        margin: 0 0 0 15px !important
    }

    .ep-padding-mob {
        padding: 0 20px
    }

    .oqg-subtitle {
        margin: 24px 0 0
    }

    .oqg-boxes {
        display: block;
        margin: 24px 0;
        padding: 0 15px
    }

    .oqg-boxes .oqg-bigbox {
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px
    }

    .oqg-boxes .oqg-smallbox {
        width: 100%;
        margin-right: 0
    }

    .oqg-boxes .oqg-content-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 25px;
        margin-bottom: auto;
        margin-top: auto
    }

    .oqg-boxes .oqg-content {
        flex-direction: column;
        padding: 30px 25px
    }

    .oqg-boxes .oqg-content p:last-child {
        margin-bottom: 0
    }

    .oqg-boxes .oqg-content .oqg-part1,.oqg-boxes .oqg-content .oqg-part2 {
        padding: 0;
        width: 100%
    }

    .oqg-boxes .oqg-content .oqg-line {
        width: 195px;
        height: 1px;
        background-color: #e8927c;
        margin: 18px 0
    }

    .oqg-boxes .oqg-videobox {
        min-width: -webkit-fill-available;
        flex-direction: column;
        align-items: center
    }

    .oqg-boxes .oqg-videobox video {
        margin: 0
    }

    .oqg-boxes .oqg-videobox .oqg-contentbox {
        margin-bottom: 10px
    }
}

.ep-hr-2 {
    width: 100%;
    border-bottom: 2px solid #f8f7f6;
    border-top: none
}

.ep-paymenttypes {
    display: flex;
    width: 50%
}

.ep-paymenttypes .text {
    margin: 0 70px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify
}

.ep-paymenttypes .text .title {
    font-weight: bold;
    color: #e8927c
}

.ep-paymenttypes .text .normal {
    margin-bottom: 0
}

.ep-paymenttypes .text .detail {
    font-size: 10px;
    margin-bottom: 0;
    line-height: normal
}

.ep-card-5 {
    margin-top: 5px
}

.ep-card-5 .ep-cardheader-howtobuy {
    cursor: pointer
}

.ep-card-5 .ep-cardheader-howtobuy h2 {
    margin: 0 !important;
    padding: 12px 20px !important;
    color: #333 !important;
    font-size: 14px !important;
    background-color: #FBECE8
}

.ep-card-5 .ep-cardbody {
    padding: 12px 20px !important
}

.ep-card-5 .ep-cardbody ul li {
    margin: 0
}

#faq-blacknovember .ep-card-5 .ep-cardheader-howtobuy h2 {
    background-color: #261C1C !important;
    color: #FEF5F3 !important
}

#faq-welcomeProgram .ep-card-5 {
    margin-top: 5px
}

#faq-welcomeProgram .ep-card-5 .ep-cardheader-howtobuy {
    cursor: pointer
}

#faq-welcomeProgram .ep-card-5 .ep-cardheader-howtobuy h2 {
    margin: 0 !important;
    font-weight: bold;
    font-size: 14px !important;
    padding: 12px 20px !important;
    color: #FFF !important;
    background-color: #e8927c
}

#faq-welcomeProgram .ep-card-5 .ep-cardbody {
    padding: 12px 20px !important
}

#faq-welcomeProgram .ep-card-5 .ep-cardbody p {
    font-size: 14px !important
}

#faq-welcomeProgram .ep-card-5 .ep-cardbody p a {
    font-weight: bold
}

.ep-whiteblock {
    background-color: white;
    text-align: center
}

.ep-howtobuy {
    display: flex;
    padding-top: 40px
}

.ep-howtobuy li span {
    margin-left: -5px !important
}

.ep-howtobuy .ep-cardbody {
    font-size: 13px
}

.ep-howtobuy .ep-howtobuy-header {
    position: relative;
    margin-top: 15px
}

.ep-howtobuy .ep-howtobuy-header .ep-number {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40px;
    height: 40px;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FBECE8;
    box-shadow: 0px 2px 2px rgba(232,202,194,0.5);
    border-radius: 90px;
    color: #E8927C;
    font-weight: bold;
    font-size: 20px
}

.ep-howtobuy .ep-howtobuy-header .ep-howtobuy-title {
    font-size: 14px;
    color: #E8927C;
    text-align: center
}

.ep-howtobuy .ep-howtobuy-card {
    flex: 1 1 0px;
    padding: 18px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(232,146,124,0.2);
    border-radius: 10px;
    margin: 5px
}

.ep-diamante .ep-diamante-sub .ep-cor>div {
    display: flex;
    justify-content: space-evenly
}

.ep-diamante .ep-diamante-sub .ep-cor>div>div {
    display: flex;
    align-items: center;
    font-size: 16px
}

.ep-diamante .ep-diamante-sub .ep-cor>div img {
    width: 70px;
    height: 60px
}

.ep-diamante .ep-diamante-sub .ep-clareza,.ep-diamante .ep-diamante-sub .ep-lapidacao {
    display: flex;
    flex-direction: column;
    align-items: center
}

.ep-diamante .ep-diamante-sub .ep-peso>div>div {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end
}

.ep-diamante .ep-diamante-sub .ep-peso>div>div p {
    text-align: center
}

.ep-diamante .ep-diamante-sub>div>.ep-direct-text {
    padding: 30px 20px
}

.ep-diamante .ep-diamante-sub-2 {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #fff 60%, #fbece8 0%);
    margin: 0px -20px
}

.ep-brilhante .ep-brilhante-sub {
    display: flex;
    justify-content: space-evenly
}

.ep-brilhante .ep-brilhante-sub img {
    height: 225px;
    margin-bottom: 20px
}

.ep-brilhante .ep-brilhante-sub-2 {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #fff 60%, #fbece8 0%);
    margin: 0px -20px
}

@media (min-width: 768px) {
    .ep-brilhante .ep-brilhante-sub {
        padding:0px 10%
    }

    .ep-brilhante .ep-brilhante-sub-2 img {
        height: 360px
    }

    .ep-diamante .ep-diamante-sub {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px
    }

    .ep-diamante .ep-diamante-sub .ep-cor img {
        margin-left: 8px
    }

    .ep-diamante .ep-diamante-sub>div {
        flex: 1 1 0%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    .ep-medidor {
        position: relative
    }

    .ep-medidor .ep-o-medidor {
        text-align: center;
        height: 130px;
        display: flex;
        align-items: flex-end;
        color: #E8927C;
        font-size: 14px;
        padding-left: 335px;
        padding-bottom: 20px;
        margin-left: -28px
    }

    .ep-medidor .ep-img-medidor {
        width: 350px;
        height: 350px;
        position: absolute;
        top: 20px;
        margin-left: -25px
    }

    .ep-medidor .ep-text-medidor {
        padding-top: 20px;
        padding-left: 335px;
        padding-right: 20px;
        padding-bottom: 20px;
        background-color: #FBECE8;
        margin-left: -28px
    }

    .ep-medidor .ep-text-medidor p b a {
        text-decoration: underline
    }

    .ep-medidor .ep-text-medidor p b a:hover {
        text-decoration: underline !important
    }

    .ep-pinkblock-special {
        padding: 20px 30px !important;
        margin: 10px 0px 0px -30px !important
    }

    .ep-whiteblock br {
        display: none
    }

    .ep-pinkcard-contact {
        display: flex;
        justify-content: center
    }

    .ep-pinkcard-contact>div {
        margin-right: 10px !important;
        padding: 10px 20px
    }

    .ep-cuidados {
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23%;
        padding: 20px 15px
    }

    .ep-cuidadoswrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline
    }

    .ep-cuidadoswrapper>:first-child {
        padding-left: 0
    }

    .ep-cuidadoswrapper>:not(:last-child) {
        border-right: 2px solid #f8f7f6
    }

    .ep-width-content {
        width: 77%;
        margin-right: 30px
    }

    .ep-margin-2 {
        margin-top: 30px
    }

    .ep-card-margin {
        margin-right: 30px
    }

    .ep-menu {
        background-color: #FBECE8;
        width: 23%;
        margin-right: 30px
    }

    .ep-menu>.ep-menu-active {
        color: white;
        font-weight: bold;
        background-color: #E8927C !important
    }

    .ep-menu>a {
        padding: 10px;
        text-align: center;
        border-bottom: 2px solid #fff;
        display: block;
        color: #333333
    }

    .ep-pink-part {
        padding: 20px 30px 20px 29px;
        margin: 0 -30px 0 -29px;
        text-align: justify;
        background-color: #fbece8
    }

    .disappear-desk {
        display: none
    }
}

.ep-pink-part {
    text-align: justify;
    background-color: #fbece8
}

.collapsing {
    animation-delay: .8s;
    transition-delay: .8s
}

.arrow {
    margin-bottom: 0px !important;
    color: #e8927c;
    height: 3px
}

.alert {
    background-color: #FBECE8 !important;
    margin: 0 !important;
    padding: 10px;
    display: flex;
    align-items: center
}

button {
    box-shadow: none !important;
    transition: none !important;
    border: none !important
}

button:hover {
    background: none !important;
    border: none !important
}

button:focus {
    background: none !important;
    border: none !important
}

button:active {
    background: none !important;
    border: none !important
}

.carousel-item.active,.carousel-item-next,.carousel-item-prev {
    display: block
}

#table-aros1 td,#table-aros2 td {
    padding: 2px !important;
    border-top: none !important
}

#table-aros1 td:nth-child(even),#table-aros2 td:nth-child(even) {
    border-left: 1px solid #e8927c !important
}

#table-aros1 tr,#table-aros2 tr {
    border-top: 1px solid #e8927c !important
}

#table-aros1 tr:first-child,#table-aros2 tr:first-child {
    border-top: none !important
}

#table-aros1,#table-aros2 {
    margin-bottom: 0 !important
}

.carousel-indicators li {
    background-color: #e8927c !important;
    height: 13px !important;
    border-radius: 90px !important;
    border: none !important
}

.vj-link {
    color: #e8927c !important
}

.cms-saiba-o-tamanho-de-sua-alianca * {
    box-sizing: border-box
}

.cms-saiba-o-tamanho-de-sua-alianca #content-tabela-medidas,.cms-saiba-o-tamanho-de-sua-alianca #content-ring-sizer {
    display: none
}

.cms-saiba-o-tamanho-de-sua-alianca #content-tabela-medidas {
    margin-top: 24px
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide.visible {
    display: flex
}

.cms-saiba-o-tamanho-de-sua-alianca .show {
    display: block !important
}

.cms-saiba-o-tamanho-de-sua-alianca #content-tabela-medidas {
    display: none
}

.cms-saiba-o-tamanho-de-sua-alianca .modal-guide {
    padding: 0 17px 0;
    position: sticky;
    overflow: hidden;
    display: flex;
    gap: 10px;
    justify-content: flex-start
}

@media (min-width: 768px) {
    .cms-saiba-o-tamanho-de-sua-alianca .modal-guide {
        justify-content:center
    }
}

@media (min-width: 345px) {
    .cms-saiba-o-tamanho-de-sua-alianca .modal-guide {
        padding:0 8px 0;
        gap: 6px
    }

    .cms-saiba-o-tamanho-de-sua-alianca .modal-guide .modal-guide-button {
        width: 40%
    }
}

.cms-saiba-o-tamanho-de-sua-alianca .modal-guide .shadow-top {
    box-shadow: 0 0px 15px 5px rgba(0,0,0,0.1);
    position: absolute;
    height: 1px;
    width: 100%;
    z-index: 9;
    background-color: #fff;
    bottom: -1px;
    left: 0
}

.cms-saiba-o-tamanho-de-sua-alianca .modal-guide .modal-guide-button.active {
    border-top: 3px solid #e8927c !important;
    z-index: 999
}

.cms-saiba-o-tamanho-de-sua-alianca .modal-guide .modal-guide-button.active span {
    color: #e8927c !important
}

.cms-saiba-o-tamanho-de-sua-alianca .modal-guide .modal-guide-button {
    cursor: pointer;
    background-color: #fff !important;
    color: #595959;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 16.8px;
    padding: 10px 12px;
    position: relative;
    border-top: 3px solid #595959 !important;
    border-radius: 10px 10px 0 0 !important;
    height: 52px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px !important
}

@media (max-width: 768px) {
    .cms-saiba-o-tamanho-de-sua-alianca .modal-guide .modal-guide-button {
        width:115px
    }
}

@media (min-width: 768px) {
    .cms-saiba-o-tamanho-de-sua-alianca .modal-guide .modal-guide-button {
        width:180px
    }
}

.cms-saiba-o-tamanho-de-sua-alianca .modal-guide .modal-guide-button span {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center
}

@media (max-width: 768px) {
    .cms-saiba-o-tamanho-de-sua-alianca #content-ring-sizer.desk {
        display:none !important
    }

    .cms-saiba-o-tamanho-de-sua-alianca .swiper-slide {
        justify-content: space-between
    }

    .cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .step {
        text-align: center
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step1 .text-content {
        width: 56%
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step1 .range-wrapper {
        margin-bottom: 24px
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step1 .range-wrapper span {
        width: 90%;
        max-width: 340px
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step1 .bottom-wrapper {
        margin-top: 65px
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step2 .step {
        padding: 24px 20px 0;
        text-align: center
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step2 .main-wrapper {
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start
    }
}

@media (max-width: 768px) and (max-width:360px) {
    .cms-saiba-o-tamanho-de-sua-alianca #step1 .bottom-wrapper {
        margin-top:25px
    }
}

@media (min-width: 768px) {
    .cms-saiba-o-tamanho-de-sua-alianca #content-ring-sizer.mob {
        display:none !important
    }

    .cms-saiba-o-tamanho-de-sua-alianca .swiper-slide {
        justify-content: center
    }

    .cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .step {
        text-align: left
    }

    .cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .bottom-wrapper {
        width: 100%;
        z-index: 9
    }

    .cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .bottom-wrapper .range-wrapper {
        margin-bottom: 40px
    }

    .cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .bottom-wrapper .range-wrapper span {
        text-align: center;
        padding: 0
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step1 {
        width: 75%;
        position: relative
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step1 .main-wrapper {
        padding: 120px 0 0;
        margin-bottom: 50px
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step1 .main-wrapper .text-content {
        width: 58%
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step1 .main-wrapper .text-content p:first-child br:last-child {
        display: none
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step1 .bottom-wrapper {
        padding: 0 0 120px
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step1 .bottom-wrapper .range-wrapper {
        margin-bottom: 24px
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step2 {
        width: 765px;
        height: 70vh
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step2 .step {
        text-align: left
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step2 .text-content {
        padding: 0 !important
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step2 .main-wrapper {
        flex-direction: row;
        justify-content: center
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step2 .main-wrapper .range-wrapper {
        width: auto !important;
        margin-left: 32px;
        margin-bottom: 90px;
        align-items: flex-start !important
    }

    .cms-saiba-o-tamanho-de-sua-alianca #step2 .main-wrapper .range-wrapper .range-control-wrapper {
        width: 340px
    }
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide {
    display: none;
    align-items: flex-start;
    flex-direction: column;
    width: 100%
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 24px 20px 0;
    width: 100%
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .step {
    display: block;
    margin: 0 0 16px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    width: 100%
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .text-content {
    gap: 16px
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .text-content p,.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .text-content span,.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .text-content ul,.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .text-content li {
    font-size: 12px
}

@media (min-width: 768px) {
    .cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .text-content p,.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .text-content span,.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .text-content ul,.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .text-content li {
        font-size:14px !important
    }
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .ring-wrapper {
    display: flex;
    flex-direction: column
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .ring-wrapper .ring-background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 220px;
    background-color: #dbc493
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .ring-wrapper .ring-background .ring {
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .ring-wrapper .ring-background .ring span {
    font-size: 14px;
    font-weight: bold;
    color: #333
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .ring-wrapper .rim-wrapper {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .ring-wrapper .rim-wrapper #ring-rim {
    font-weight: bold;
    font-size: 32px;
    color: #E8927C;
    display: block;
    text-align: center;
    margin-top: 6px;
    line-height: normal
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .card-credit-image {
    position: absolute;
    border: 2px solid #333;
    border-radius: 15px;
    background-color: #edd39a;
    min-height: 100px;
    height: 300px;
    aspect-ratio: 1.58577251
}

@media (max-width: 768px) {
    .cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .card-credit-image {
        left:65%
    }
}

@media (min-width: 768px) {
    .cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .card-credit-image {
        left:80%
    }
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .card-credit-image .card-stripe {
    height: 20%;
    margin-top: 7%;
    width: 100%;
    background-color: #dbc493
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .main-wrapper .card-credit-image .card-stripe-2 {
    height: 17%;
    margin-left: 5.5%;
    margin-top: 5%;
    width: 55%;
    background-color: #fae3b0
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .range-wrapper {
    z-index: 9999;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    flex-direction: column
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .range-wrapper span {
    font-size: 14px;
    font-weight: bold
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .range-wrapper .range-control-wrapper {
    margin-top: 8px;
    gap: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    max-width: 340px
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .range-wrapper .range-control-wrapper .control-button {
    padding: 0 0 5px;
    height: 35px;
    min-width: 35px;
    font-size: 22px;
    border: 1px solid #ede9e8 !important;
    border-radius: 4px;
    background-color: #FFF;
    outline: none;
    color: #dbc493
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .range-wrapper .range-control-wrapper .control-button:hover,.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .range-wrapper .range-control-wrapper .control-button:active,.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .range-wrapper .range-control-wrapper .control-button:focus {
    background-color: #FFF !important
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .range-wrapper .range-control-wrapper .range-control {
    -webkit-appearance: none;
    width: 80%;
    background: #EDE9E8;
    height: 4px;
    outline: none;
    border-radius: 5px
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .range-wrapper .range-control-wrapper .range-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #dbc493;
    border: 1px solid #dbc493;
    border-radius: 50%;
    cursor: pointer
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .button-wrapper {
    margin-bottom: 32px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .button-wrapper .done-button {
    display: none
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .button-wrapper .next-button {
    background-color: #dbc493;
    width: 200px;
    height: 40px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    transition: .3s !important
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .button-wrapper .next-button:hover,.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .button-wrapper .next-button:active,.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .button-wrapper .next-button:focus {
    background-color: #e6785c !important;
    cursor: pointer;
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .button-wrapper .prev-button {
    background-color: #fff;
    width: 200px;
    height: 40px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black !important;
    border-radius: 4px;
    transition: .3s !important
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .button-wrapper .prev-button:hover,.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .button-wrapper .prev-button:active,.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .button-wrapper .prev-button:focus {
    background-color: #e6785c !important;
    border: 1px solid #e6785c !important;
    color: #fff !important;
    cursor: pointer;
}

.cms-saiba-o-tamanho-de-sua-alianca .swiper-slide .bottom-wrapper {
    width: 100%;
    z-index: 2
}

.cms-saiba-o-tamanho-de-sua-alianca #step1 .main-wrapper {
    align-items: flex-start
}

.cms-saiba-o-tamanho-de-sua-alianca #step2 .main-wrapper {
    align-items: center
}

.cms-saiba-o-tamanho-de-sua-alianca #step2 .step {
    box-sizing: border-box;
    display: block;
    margin: 0 0 12px;
    font-weight: bold;
    color: #333;
    width: 100%;
    font-size: 16px
}

@media (max-height: 720px) {
    .cms-saiba-o-tamanho-de-sua-alianca #step2 .step {
        margin:0 0 5px
    }
}

.cms-saiba-o-tamanho-de-sua-alianca #step2 .text-content {
    padding: 0 20px;
    text-align: center;
    margin-bottom: 16px
}

@media (max-height: 720px) {
    .cms-saiba-o-tamanho-de-sua-alianca #step2 .text-content {
        margin-bottom:5px
    }
}

.cms-saiba-o-tamanho-de-sua-alianca #step2 .text-content p,.cms-saiba-o-tamanho-de-sua-alianca #step2 .text-content span,.cms-saiba-o-tamanho-de-sua-alianca #step2 .text-content ul,.cms-saiba-o-tamanho-de-sua-alianca #step2 .text-content li {
    font-size: 15px
}

@media (min-width: 768px) {
    .cms-saiba-o-tamanho-de-sua-alianca #step2 .text-content p,.cms-saiba-o-tamanho-de-sua-alianca #step2 .text-content span,.cms-saiba-o-tamanho-de-sua-alianca #step2 .text-content ul,.cms-saiba-o-tamanho-de-sua-alianca #step2 .text-content li {
        font-size:16px !important
    }
}

.cms-saiba-o-tamanho-de-sua-alianca #step2 .main-wrapper {
    padding: 0;
    margin-bottom: 24px
}

.cms-saiba-o-tamanho-de-sua-alianca #step2 .main-wrapper .ring-wrapper {
    flex-direction: column;
    width: 100%
}

.cms-saiba-o-tamanho-de-sua-alianca #step2 .main-wrapper .ring-wrapper .rim-wrapper {
    height: auto
}

.cms-saiba-o-tamanho-de-sua-alianca #step2 .main-wrapper .ring-wrapper .rim-wrapper #ring-rim {
    margin-top: 3px
}

@media (max-height: 720px) {
    .cms-saiba-o-tamanho-de-sua-alianca #step2 .main-wrapper .ring-wrapper .rim-wrapper #ring-rim {
        margin-top:0px
    }
}

.cms-saiba-o-tamanho-de-sua-alianca #step2 .main-wrapper .range-wrapper {
    margin-top: 16px;
    z-index: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    flex-direction: column
}

@media (max-height: 720px) {
    .cms-saiba-o-tamanho-de-sua-alianca #step2 .main-wrapper .range-wrapper {
        margin-top:5px
    }
}
